@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
    display: inline-block;
  }
  
  .pagination li.active {
    font-weight: bold;
  }
  